version: "3.8"

services:
  user-service:
    build: ./user_service
    container_name: user-service
    ports:
      - "5001:5001"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_started
    networks:
      - Qluster-network
    env_file:
      - .env
      #new code
    volumes:
      - ./user_service:/app
      - /app/node_modules # Prevents overwriting node_modules
    command: npm run dev # Runs nodemon for hot-reloading
    restart: unless-stopped

  project-service:
    build: ./project_service
    container_name: project-service
    ports:
      - "5002:5002"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_started
    networks:
      - Qluster-network
    env_file:
      - .env
      #new code
    volumes:
      - ./project_service:/app
      - /app/node_modules # Prevents overwriting node_modules
    command: npm run dev # Runs nodemon for hot-reloading
    restart: unless-stopped

  comment-service:
    build: ./comment_service
    container_name: comment-service
    ports:
      - "5003:5003"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_started
    networks:
      - Qluster-network
    env_file:
      - .env
      #new code
    volumes:
      - ./comment_service:/app
      - /app/node_modules # Prevents overwriting node_modules
    command: npm run dev # Runs nodemon for hot-reloading
    restart: unless-stopped

  task-service:
    build: ./task_service
    container_name: task-service
    ports:
      - "5004:5004"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_started
    networks:
      - Qluster-network
    env_file:
      - .env
      #new code
    volumes:
      - ./task_service:/app
      - /app/node_modules # Prevents overwriting node_modules
    command: npm run dev # Runs nodemon for hot-reloading
    restart: unless-stopped


  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "admin"
      RABBITMQ_DEFAULT_PASS: "password"
    networks:
      - Qluster-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - Qluster-network
    restart: unless-stopped
    volumes:
      - mongodb-data:/data/db

networks:
  Qluster-network:
    driver: bridge

volumes:
  mongodb-data:
    driver: local
